web/WEB-INF/wsdl/webservice_complete.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.4 git-revision#34af6e5. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.4 git-revision#34af6e5. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.morpho.com/mbss/generic/wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.morpho.com/mbss/generic/wsdl" name="MbssService">
<types>
<xsd:schema xmlns:tns="http://www.morpho.com/mbss/generic/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://www.morpho.com/mbss/generic/wsdl">
<xs:element name="process" type="tns:process"/>
<xs:element name="processResponse" type="tns:processResponse"/>
<xs:complexType name="process">
	<xs:sequence>
		<xs:element name="request" type="tns:Request"/>
		<xs:element name="routingData" type="tns:RoutingData"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="Request">
	<xs:sequence>
		<xs:element name="requestType" type="tns:RequestType"/>
		<xs:element name="version" type="tns:Version" minOccurs="0"/>
		<xs:element name="encodePersonRequest" type="tns:EncodePersonRequest" minOccurs="0"/>
		<xs:element name="insertPersonRequest" type="tns:InsertPersonRequest" minOccurs="0"/>
		<xs:element name="updatePersonRequest" type="tns:UpdatePersonRequest" minOccurs="0"/>
		<xs:element name="deletePersonRequest" type="tns:DeletePersonRequest" minOccurs="0"/>
		<xs:element name="existPersonRequest" type="tns:ExistPersonRequest" minOccurs="0"/>
		<xs:element name="getPersonRequest" type="tns:GetPersonRequest" minOccurs="0"/>
		<xs:element name="countPersonRequest" type="tns:CountPersonRequest" minOccurs="0"/>
		<xs:element name="partialUpdatePersonRequest" type="tns:PartialUpdatePersonRequest" minOccurs="0"/>
		<xs:element name="getTemplatesRequest" type="tns:GetTemplatesRequest" minOccurs="0"/>
		<xs:element name="getPersonInfoListNumberRequest" type="tns:GetPersonInfoListNumberRequest" minOccurs="0"/>
		<xs:element name="getPersonInfoListRequest" type="tns:GetPersonInfoListRequest" minOccurs="0"/>
		<xs:element name="authenticatePersonRequest" type="tns:AuthenticatePersonRequest" minOccurs="0"/>
		<xs:element name="personToPersonAuthRequest" type="tns:PersonToPersonAuthenticateRequest" minOccurs="0"/>
		<xs:element name="personToPersonMatchRequest" type="tns:PersonToPersonMatchRequest" minOccurs="0"/>
		<xs:element name="latentToPersonMatchRequest" type="tns:LatentToPersonMatchRequest" minOccurs="0"/>
		<xs:element name="insertWithFilterThenMatchWithoutFilterPersonRequest" type="tns:InsertWithFilterThenMatchWithoutFilterPersonRequest" minOccurs="0"/>
		<xs:element name="encodeLatentRequest" type="tns:EncodeLatentRequest" minOccurs="0"/>
		<xs:element name="insertLatentRequest" type="tns:InsertLatentRequest" minOccurs="0"/>
		<xs:element name="updateLatentRequest" type="tns:UpdateLatentRequest" minOccurs="0"/>
		<xs:element name="deleteLatentRequest" type="tns:DeleteLatentRequest" minOccurs="0"/>
		<xs:element name="existLatentRequest" type="tns:ExistLatentRequest" minOccurs="0"/>
		<xs:element name="getLatentRequest" type="tns:GetLatentRequest" minOccurs="0"/>
		<xs:element name="countLatentRequest" type="tns:CountLatentRequest" minOccurs="0"/>
		<xs:element name="getLatentInfoListNumberRequest" type="tns:GetLatentInfoListNumberRequest" minOccurs="0"/>
		<xs:element name="getLatentInfoListRequest" type="tns:GetLatentInfoListRequest" minOccurs="0"/>
		<xs:element name="personToLatentMatchRequest" type="tns:PersonToLatentMatchRequest" minOccurs="0"/>
		<xs:element name="latentToLatentMatchRequest" type="tns:LatentToLatentMatchRequest" minOccurs="0"/>
		<xs:element name="replacePersonSampleRequest" type="tns:ReplacePersonSampleRequest" minOccurs="0"/>
		<xs:element name="getPersonInfoListForConsistencyRequest" type="tns:GetPersonInfoListForConsistencyRequest" minOccurs="0"/>
		<xs:element name="getPersonListForConsistencyRequest" type="tns:GetPersonListForConsistencyRequest" minOccurs="0"/>
		<xs:element name="detectFacesRequest" type="tns:DetectFacesRequest" minOccurs="0"/>
		<xs:element name="getLatentInfoListForConsistencyRequest" type="tns:GetLatentInfoListForConsistencyRequest" minOccurs="0"/>
		<xs:element name="getLatentListForConsistencyRequest" type="tns:GetLatentListForConsistencyRequest" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="Version">
	<xs:sequence>
		<xs:element name="requestedInterfaceVersion" type="xs:string"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="EncodePersonRequest">
	<xs:sequence>
		<xs:element name="basicRequest" type="tns:BasicRequest"/>
		<xs:element name="person" type="tns:Person"/>
		<xs:element name="encodeLevel" type="tns:EncodeLevel" minOccurs="0"/>
		<xs:element name="accuracyLevel" type="xs:int" minOccurs="0"/>
		<xs:element name="juvenilePrintMode" type="xs:boolean" minOccurs="0"/>
		<xs:element name="computeICBQualityPrint" type="xs:boolean" minOccurs="0"/>
		<xs:element name="alteredFingerPrint" type="xs:boolean" minOccurs="0"/>
		<xs:element name="computeNfiq" type="xs:boolean" minOccurs="0"/>
		<xs:element name="keepImages" type="xs:boolean" minOccurs="0"/>
		<xs:element name="computeNfiq2" type="xs:boolean" minOccurs="0"/>
		<xs:element name="alteredFingerPrint2" type="xs:boolean" minOccurs="0"/>
		<xs:element name="computeGenderMale" type="xs:boolean" minOccurs="0"/>
		<xs:element name="computeGlasses" type="xs:boolean" minOccurs="0"/>
		<xs:element name="computeAge" type="xs:boolean" minOccurs="0"/>
		<xs:element name="computeFaceness" type="xs:boolean" minOccurs="0"/>
		<xs:element name="computeFacialHairInfo" type="xs:boolean" minOccurs="0"/>
		<xs:element name="faceAnalysisConfig" type="tns:FaceAnalysisConfig" minOccurs="0"/>
		<xs:element name="computeSurgicalMask" type="xs:boolean" minOccurs="0"/>
		<xs:element name="computeFingerprintLiveness" type="xs:boolean" minOccurs="0"/>
		<xs:element name="computeFaceLiveness" type="xs:boolean" minOccurs="0"/>
		<xs:element name="computeParallelMinutiaeQuality" type="xs:boolean" minOccurs="0"/>
		<xs:element name="pedestrianAnalysisConfig" type="tns:PedestrianAnalysisConfig" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="BasicRequest">
	<xs:sequence>
		<xs:element name="id" type="xs:string"/>
		<xs:element name="correlationId" type="xs:string" minOccurs="0"/>
		<xs:element name="correlationData" type="xs:base64Binary" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="Person">
	<xs:sequence>
		<xs:element name="id" type="xs:string"/>
		<xs:element name="registration" type="tns:Registration" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="filterSet" type="tns:FilterSet" minOccurs="0"/>
		<xs:element name="clientData" type="xs:base64Binary" minOccurs="0"/>
		<xs:element name="clientDataVersion" type="xs:string" minOccurs="0"/>
		<xs:element name="mbssDataVersion" type="xs:string" minOccurs="0"/>
		<xs:element name="lastModificationTime" type="xs:string" minOccurs="0"/>
		<xs:element name="rvid" type="xs:string" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="Registration">
	<xs:sequence>
		<xs:element name="id" type="xs:long"/>
		<xs:element name="fingerprintSample" type="tns:FingerprintSample" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="irisSample" type="tns:IrisSample" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="faceSample" type="tns:FaceSample" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="palmprintSample" type="tns:PalmprintSample" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="tattooSample" type="tns:TattooSample" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="pedestrianSample" type="tns:PedestrianSample" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="spatioTemporal" type="tns:SpatioTemporal" minOccurs="0"/>
		<xs:element name="bagSample" type="tns:BagSample" minOccurs="0" maxOccurs="unbounded"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="FingerprintSample">
	<xs:sequence>
		<xs:element name="id" type="xs:long"/>
		<xs:element name="sampleType" type="tns:FingerprintSampleType"/>
		<xs:element name="tenprint" type="tns:Tenprint" minOccurs="0"/>
		<xs:element name="slap442" type="tns:Slap442" minOccurs="0"/>
		<xs:element name="slap4411" type="tns:Slap4411" minOccurs="0"/>
		<xs:element name="segments" type="tns:FingerprintSegments" minOccurs="0"/>
		<xs:element name="templates" type="tns:FingerprintTemplates" minOccurs="0"/>
		<xs:element name="mfvSegments" type="tns:MultipleFingerViewsSegments" minOccurs="0"/>
		<xs:element name="mfvTemplates" type="tns:MultipleFingerViewsTemplates" minOccurs="0"/>
		<xs:element name="userQuality" type="xs:int" minOccurs="0"/>
		<xs:element name="mbssSampleQuality" type="xs:double" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="Tenprint">
	<xs:sequence>
		<xs:element name="rightThumb" type="tns:Image" minOccurs="0"/>
		<xs:element name="rightIndex" type="tns:Image" minOccurs="0"/>
		<xs:element name="rightMiddle" type="tns:Image" minOccurs="0"/>
		<xs:element name="rightRing" type="tns:Image" minOccurs="0"/>
		<xs:element name="rightLittle" type="tns:Image" minOccurs="0"/>
		<xs:element name="leftThumb" type="tns:Image" minOccurs="0"/>
		<xs:element name="leftIndex" type="tns:Image" minOccurs="0"/>
		<xs:element name="leftMiddle" type="tns:Image" minOccurs="0"/>
		<xs:element name="leftRing" type="tns:Image" minOccurs="0"/>
		<xs:element name="leftLittle" type="tns:Image" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="Image">
	<xs:sequence>
		<xs:element name="width" type="xs:int" minOccurs="0"/>
		<xs:element name="height" type="xs:int" minOccurs="0"/>
		<xs:element name="xres" type="xs:int" minOccurs="0"/>
		<xs:element name="yres" type="xs:int" minOccurs="0"/>
		<xs:element name="format" type="tns:ImageFormatType"/>
		<xs:element name="buffer" type="xs:base64Binary"/>
		<xs:element name="imageLocation" type="xs:string" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="Slap442">
	<xs:sequence>
		<xs:element name="rightHand" type="tns:Image" minOccurs="0"/>
		<xs:element name="leftHand" type="tns:Image" minOccurs="0"/>
		<xs:element name="thumbs" type="tns:Image" minOccurs="0"/>
		<xs:element name="missingFingers" type="tns:MissingFingers" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="MissingFingers">
	<xs:sequence>
		<xs:element name="rightThumb" type="xs:boolean"/>
		<xs:element name="rightIndex" type="xs:boolean"/>
		<xs:element name="rightMiddle" type="xs:boolean"/>
		<xs:element name="rightRing" type="xs:boolean"/>
		<xs:element name="rightLittle" type="xs:boolean"/>
		<xs:element name="leftThumb" type="xs:boolean"/>
		<xs:element name="leftIndex" type="xs:boolean"/>
		<xs:element name="leftMiddle" type="xs:boolean"/>
		<xs:element name="leftRing" type="xs:boolean"/>
		<xs:element name="leftLittle" type="xs:boolean"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="Slap4411">
	<xs:sequence>
		<xs:element name="rightHand" type="tns:Image" minOccurs="0"/>
		<xs:element name="leftHand" type="tns:Image" minOccurs="0"/>
		<xs:element name="rightThumb" type="tns:Image" minOccurs="0"/>
		<xs:element name="leftThumb" type="tns:Image" minOccurs="0"/>
		<xs:element name="missingFingers" type="tns:MissingFingers" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="FingerprintSegments">
	<xs:sequence>
		<xs:element name="rightThumb" type="tns:Box" minOccurs="0"/>
		<xs:element name="rightIndex" type="tns:Box" minOccurs="0"/>
		<xs:element name="rightMiddle" type="tns:Box" minOccurs="0"/>
		<xs:element name="rightRing" type="tns:Box" minOccurs="0"/>
		<xs:element name="rightLittle" type="tns:Box" minOccurs="0"/>
		<xs:element name="leftThumb" type="tns:Box" minOccurs="0"/>
		<xs:element name="leftIndex" type="tns:Box" minOccurs="0"/>
		<xs:element name="leftMiddle" type="tns:Box" minOccurs="0"/>
		<xs:element name="leftRing" type="tns:Box" minOccurs="0"/>
		<xs:element name="leftLittle" type="tns:Box" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="Box">
	<xs:sequence>
		<xs:element name="xcentre" type="xs:int"/>
		<xs:element name="ycentre" type="xs:int"/>
		<xs:element name="width" type="xs:int"/>
		<xs:element name="height" type="xs:int"/>
		<xs:element name="angle" type="xs:float" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="FingerprintTemplates">
	<xs:sequence>
		<xs:element name="rightThumb" type="tns:Template" minOccurs="0"/>
		<xs:element name="rightIndex" type="tns:Template" minOccurs="0"/>
		<xs:element name="rightMiddle" type="tns:Template" minOccurs="0"/>
		<xs:element name="rightRing" type="tns:Template" minOccurs="0"/>
		<xs:element name="rightLittle" type="tns:Template" minOccurs="0"/>
		<xs:element name="leftThumb" type="tns:Template" minOccurs="0"/>
		<xs:element name="leftIndex" type="tns:Template" minOccurs="0"/>
		<xs:element name="leftMiddle" type="tns:Template" minOccurs="0"/>
		<xs:element name="leftRing" type="tns:Template" minOccurs="0"/>
		<xs:element name="leftLittle" type="tns:Template" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="Template">
	<xs:sequence>
		<xs:element name="buffer" type="xs:base64Binary" minOccurs="0"/>
		<xs:element name="format" type="xs:string" minOccurs="0"/>
		<xs:element name="templateFormat" type="tns:TemplateFormatType" minOccurs="0"/>
		<xs:element name="version" type="xs:string" minOccurs="0"/>
		<xs:element name="quality" type="xs:int" minOccurs="0"/>
		<xs:element name="qualityScores" type="tns:QualityScore" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="bufferAN2" type="xs:base64Binary" minOccurs="0"/>
		<xs:element name="softBiometricScores" type="tns:SoftBiometricScores" minOccurs="0"/>
		<xs:element name="faceAnalysisResult" type="tns:FaceAnalysisResult" minOccurs="0"/>
		<xs:element name="isAlive" type="xs:boolean" minOccurs="0"/>
		<xs:element name="pedestrianAnalysisResult" type="tns:PedestrianAnalysisResult" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="QualityScore">
	<xs:sequence>
		<xs:element name="name" type="tns:QualityName" minOccurs="0"/>
		<xs:element name="score" type="xs:int"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="SoftBiometricScores">
	<xs:sequence>
		<xs:element name="genderMale" type="xs:float" minOccurs="0"/>
		<xs:element name="glasses" type="xs:float" minOccurs="0"/>
		<xs:element name="age" type="xs:float" minOccurs="0"/>
		<xs:element name="faceness" type="xs:float" minOccurs="0"/>
		<xs:element name="facialHairInfo" type="tns:FacialHairInfo" minOccurs="0"/>
		<xs:element name="surgicalMask" type="xs:float" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="FacialHairInfo">
	<xs:sequence>
		<xs:element name="noFacialHair" type="xs:float" minOccurs="0"/>
		<xs:element name="mustache" type="xs:float" minOccurs="0"/>
		<xs:element name="beard" type="xs:float" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="FaceAnalysisResult">
	<xs:sequence>
		<xs:element name="icaoScores" type="tns:IcaoScores" minOccurs="0"/>
		<xs:element name="bioQuality" type="xs:int" minOccurs="0"/>
		<xs:element name="featurePoints" type="tns:FeaturePoints" minOccurs="0"/>
		<xs:element name="facialInformation" type="tns:FacialInformation" minOccurs="0"/>
		<xs:element name="backgroundColorScores" type="tns:BackgroundColorScores" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="IcaoScores">
	<xs:sequence>
		<xs:element name="nonFrontal" type="xs:int" minOccurs="0"/>
		<xs:element name="blurred" type="xs:int" minOccurs="0"/>
		<xs:element name="badLighting" type="xs:int" minOccurs="0"/>
		<xs:element name="hotSpots" type="xs:int" minOccurs="0"/>
		<xs:element name="unnaturalColor" type="xs:int" minOccurs="0"/>
		<xs:element name="lowDynamic" type="xs:int" minOccurs="0"/>
		<xs:element name="redEyes" type="xs:int" minOccurs="0"/>
		<xs:element name="eyeClosed" type="xs:int" minOccurs="0"/>
		<xs:element name="badExposure" type="xs:int" minOccurs="0"/>
		<xs:element name="eyesLookingAway" type="xs:int" minOccurs="0"/>
		<xs:element name="nonUniformBackground" type="xs:int" minOccurs="0"/>
		<xs:element name="mouthOpen" type="xs:int" minOccurs="0"/>
		<xs:element name="glassesFramesOnEyes" type="xs:int" minOccurs="0"/>
		<xs:element name="glassesReflections" type="xs:int" minOccurs="0"/>
		<xs:element name="hairOnEyes" type="xs:int" minOccurs="0"/>
		<xs:element name="verticalPos" type="xs:int" minOccurs="0"/>
		<xs:element name="horizontalPos" type="xs:int" minOccurs="0"/>
		<xs:element name="faceLengthRatio" type="xs:int" minOccurs="0"/>
		<xs:element name="faceWidthRatio" type="xs:int" minOccurs="0"/>
		<xs:element name="tiltedFace" type="xs:int" minOccurs="0"/>
		<xs:element name="minResolution" type="xs:int" minOccurs="0"/>
		<xs:element name="imageRatio" type="xs:int" minOccurs="0"/>
		<xs:element name="shadowsFacial" type="xs:int" minOccurs="0"/>
		<xs:element name="shadowsEyeSocket" type="xs:int" minOccurs="0"/>
		<xs:element name="uniformLighting" type="xs:int" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="FeaturePoints">
	<xs:sequence>
		<xs:element name="leftEyebrowInsideCorner" type="tns:Point" minOccurs="0"/>
		<xs:element name="leftEyebrowOutsideCorner" type="tns:Point" minOccurs="0"/>
		<xs:element name="rightEyebrowInsideCorner" type="tns:Point" minOccurs="0"/>
		<xs:element name="rightEyebrowOutsideCorner" type="tns:Point" minOccurs="0"/>
		<xs:element name="leftEyeInsideCorner" type="tns:Point" minOccurs="0"/>
		<xs:element name="leftEyeCenter" type="tns:Point" minOccurs="0"/>
		<xs:element name="leftEyeOutsideCorner" type="tns:Point" minOccurs="0"/>
		<xs:element name="rightEyeInsideCorner" type="tns:Point" minOccurs="0"/>
		<xs:element name="rightEyeCenter" type="tns:Point" minOccurs="0"/>
		<xs:element name="rightEyeOutsideCorner" type="tns:Point" minOccurs="0"/>
		<xs:element name="noseLeftExtremePoint" type="tns:Point" minOccurs="0"/>
		<xs:element name="noseRightExtremePoint" type="tns:Point" minOccurs="0"/>
		<xs:element name="noseTopBridge" type="tns:Point" minOccurs="0"/>
		<xs:element name="noseEnd" type="tns:Point" minOccurs="0"/>
		<xs:element name="noseMiddleBasis" type="tns:Point" minOccurs="0"/>
		<xs:element name="leftEarBottom" type="tns:Point" minOccurs="0"/>
		<xs:element name="rightEarBottom" type="tns:Point" minOccurs="0"/>
		<xs:element name="upperLipMiddlePoint" type="tns:Point" minOccurs="0"/>
		<xs:element name="mouthRightCorner" type="tns:Point" minOccurs="0"/>
		<xs:element name="mouthLeftCorner" type="tns:Point" minOccurs="0"/>
		<xs:element name="lowerLipMiddlePoint" type="tns:Point" minOccurs="0"/>
		<xs:element name="chinBottom" type="tns:Point" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="Point">
	<xs:sequence>
		<xs:element name="x" type="xs:float"/>
		<xs:element name="y" type="xs:float"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="FacialInformation">
	<xs:sequence>
		<xs:element name="male" type="xs:float" minOccurs="0"/>
		<xs:element name="female" type="xs:float" minOccurs="0"/>
		<xs:element name="glasses" type="xs:float" minOccurs="0"/>
		<xs:element name="age" type="xs:float" minOccurs="0"/>
		<xs:element name="pitch" type="xs:float" minOccurs="0"/>
		<xs:element name="roll" type="xs:float" minOccurs="0"/>
		<xs:element name="yaw" type="xs:float" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="BackgroundColorScores">
	<xs:sequence>
		<xs:element name="black" type="xs:float" minOccurs="0"/>
		<xs:element name="blue" type="xs:float" minOccurs="0"/>
		<xs:element name="brown" type="xs:float" minOccurs="0"/>
		<xs:element name="gray" type="xs:float" minOccurs="0"/>
		<xs:element name="green" type="xs:float" minOccurs="0"/>
		<xs:element name="orange" type="xs:float" minOccurs="0"/>
		<xs:element name="pink" type="xs:float" minOccurs="0"/>
		<xs:element name="purple" type="xs:float" minOccurs="0"/>
		<xs:element name="red" type="xs:float" minOccurs="0"/>
		<xs:element name="white" type="xs:float" minOccurs="0"/>
		<xs:element name="yellow" type="xs:float" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="PedestrianAnalysisResult">
	<xs:sequence>
		<xs:element name="genderAnalysisResult" type="tns:PedestrianGenderAnalysisResult" minOccurs="0"/>
		<xs:element name="bagAnalysisResult" type="tns:PedestrianBagAnalysisResult" minOccurs="0"/>
		<xs:element name="colorAnalysisResult" type="tns:PedestrianColorAnalysisResult" minOccurs="0"/>
		<xs:element name="hardHatAnalysisResult" type="tns:PedestrianHardHatAnalysisResult" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="PedestrianGenderAnalysisResult">
	<xs:sequence>
		<xs:element name="maleGenderProbability" type="xs:float" minOccurs="0"/>
		<xs:element name="femaleGenderProbability" type="xs:float" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="PedestrianBagAnalysisResult">
	<xs:sequence>
		<xs:element name="noBagProbability" type="xs:float" minOccurs="0"/>
		<xs:element name="bagOnBackProbability" type="xs:float" minOccurs="0"/>
		<xs:element name="bagInHandProbability" type="xs:float" minOccurs="0"/>
		<xs:element name="bagOnShoulderProbability" type="xs:float" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="PedestrianColorAnalysisResult">
	<xs:sequence>
		<xs:element name="topColorScores" type="tns:PedestrianColorScores" minOccurs="0"/>
		<xs:element name="bottomColorScores" type="tns:PedestrianColorScores" minOccurs="0"/>
		<xs:element name="shoesColorScores" type="tns:PedestrianColorScores" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="PedestrianColorScores">
	<xs:sequence>
		<xs:element name="black" type="xs:float" minOccurs="0"/>
		<xs:element name="blue" type="xs:float" minOccurs="0"/>
		<xs:element name="brown" type="xs:float" minOccurs="0"/>
		<xs:element name="gray" type="xs:float" minOccurs="0"/>
		<xs:element name="green" type="xs:float" minOccurs="0"/>
		<xs:element name="orange" type="xs:float" minOccurs="0"/>
		<xs:element name="pink" type="xs:float" minOccurs="0"/>
		<xs:element name="purple" type="xs:float" minOccurs="0"/>
		<xs:element name="red" type="xs:float" minOccurs="0"/>
		<xs:element name="white" type="xs:float" minOccurs="0"/>
		<xs:element name="yellow" type="xs:float" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="PedestrianHardHatAnalysisResult">
	<xs:sequence>
		<xs:element name="hardHatNoneProbability" type="xs:float" minOccurs="0"/>
		<xs:element name="hardHatOnProbability" type="xs:float" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="MultipleFingerViewsSegments">
	<xs:sequence>
		<xs:element name="rightThumb" type="tns:MultipleFingerViewsBoxes" minOccurs="0"/>
		<xs:element name="rightIndex" type="tns:MultipleFingerViewsBoxes" minOccurs="0"/>
		<xs:element name="rightMiddle" type="tns:MultipleFingerViewsBoxes" minOccurs="0"/>
		<xs:element name="rightRing" type="tns:MultipleFingerViewsBoxes" minOccurs="0"/>
		<xs:element name="rightLittle" type="tns:MultipleFingerViewsBoxes" minOccurs="0"/>
		<xs:element name="leftThumb" type="tns:MultipleFingerViewsBoxes" minOccurs="0"/>
		<xs:element name="leftIndex" type="tns:MultipleFingerViewsBoxes" minOccurs="0"/>
		<xs:element name="leftMiddle" type="tns:MultipleFingerViewsBoxes" minOccurs="0"/>
		<xs:element name="leftRing" type="tns:MultipleFingerViewsBoxes" minOccurs="0"/>
		<xs:element name="leftLittle" type="tns:MultipleFingerViewsBoxes" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="MultipleFingerViewsBoxes">
	<xs:sequence>
		<xs:element name="rolled" type="tns:Box" minOccurs="0"/>
		<xs:element name="leftSide" type="tns:Box" minOccurs="0"/>
		<xs:element name="flat" type="tns:Box" minOccurs="0"/>
		<xs:element name="rightSide" type="tns:Box" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="MultipleFingerViewsTemplates">
	<xs:sequence>
		<xs:element name="rightThumb" type="tns:MultipleFingerViewsTemplate" minOccurs="0"/>
		<xs:element name="rightIndex" type="tns:MultipleFingerViewsTemplate" minOccurs="0"/>
		<xs:element name="rightMiddle" type="tns:MultipleFingerViewsTemplate" minOccurs="0"/>
		<xs:element name="rightRing" type="tns:MultipleFingerViewsTemplate" minOccurs="0"/>
		<xs:element name="rightLittle" type="tns:MultipleFingerViewsTemplate" minOccurs="0"/>
		<xs:element name="leftThumb" type="tns:MultipleFingerViewsTemplate" minOccurs="0"/>
		<xs:element name="leftIndex" type="tns:MultipleFingerViewsTemplate" minOccurs="0"/>
		<xs:element name="leftMiddle" type="tns:MultipleFingerViewsTemplate" minOccurs="0"/>
		<xs:element name="leftRing" type="tns:MultipleFingerViewsTemplate" minOccurs="0"/>
		<xs:element name="leftLittle" type="tns:MultipleFingerViewsTemplate" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="MultipleFingerViewsTemplate">
	<xs:sequence>
		<xs:element name="rolled" type="tns:Template" minOccurs="0"/>
		<xs:element name="leftSide" type="tns:Template" minOccurs="0"/>
		<xs:element name="flat" type="tns:Template" minOccurs="0"/>
		<xs:element name="rightSide" type="tns:Template" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="IrisSample">
	<xs:sequence>
		<xs:element name="id" type="xs:long"/>
		<xs:element name="sampleType" type="tns:IrisDataType" minOccurs="0"/>
		<xs:element name="irisImage11" type="tns:IrisImage11" minOccurs="0"/>
		<xs:element name="irisImage2" type="tns:IrisImage2" minOccurs="0"/>
		<xs:element name="templateType" type="tns:IrisDataType" minOccurs="0"/>
		<xs:element name="irisTemplate11" type="tns:IrisTemplate11" minOccurs="0"/>
		<xs:element name="irisTemplate2" type="tns:IrisTemplate2" minOccurs="0"/>
		<xs:element name="reductionInfo" type="tns:IrisReductionInfo" minOccurs="0"/>
		<xs:element name="userQuality" type="xs:int" minOccurs="0"/>
		<xs:element name="mbssSampleQuality" type="xs:double" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="IrisImage11">
	<xs:sequence>
		<xs:element name="leftEye" type="tns:Image" minOccurs="0"/>
		<xs:element name="rightEye" type="tns:Image" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="IrisImage2">
	<xs:sequence>
		<xs:element name="eyes" type="tns:Image" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="IrisTemplate11">
	<xs:sequence>
		<xs:element name="leftEye" type="tns:Template" minOccurs="0"/>
		<xs:element name="rightEye" type="tns:Template" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="IrisTemplate2">
	<xs:sequence>
		<xs:element name="eyes" type="tns:Template" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="IrisReductionInfo">
	<xs:sequence>
		<xs:element name="leftEyeSampleId" type="xs:int" minOccurs="0"/>
		<xs:element name="rightEyeSampleId" type="xs:int" minOccurs="0"/>
		<xs:element name="leftEyeQuality" type="xs:int" minOccurs="0"/>
		<xs:element name="rightEyeQuality" type="xs:int" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="FaceSample">
	<xs:sequence>
		<xs:element name="id" type="xs:long"/>
		<xs:element name="sampleType" type="tns:FaceSampleType" minOccurs="0"/>
		<xs:element name="stillImage" type="tns:StillImage" minOccurs="0"/>
		<xs:element name="video" type="tns:Video" minOccurs="0"/>
		<xs:element name="template" type="tns:Template" minOccurs="0"/>
		<xs:element name="eyePositions" type="tns:EyePositions" minOccurs="0"/>
		<xs:element name="userQuality" type="xs:int" minOccurs="0"/>
		<xs:element name="mbssSampleQuality" type="xs:double" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="StillImage">
	<xs:sequence>
		<xs:element name="image" type="tns:Image"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="Video">
	<xs:sequence>
		<xs:element name="miniVideo" type="xs:base64Binary"/>
		<xs:element name="bioData" type="xs:base64Binary"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="EyePositions">
	<xs:sequence>
		<xs:element name="leftEye" type="tns:Point"/>
		<xs:element name="rightEye" type="tns:Point"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="PalmprintSample">
	<xs:sequence>
		<xs:element name="id" type="xs:long"/>
		<xs:element name="sampleType" type="tns:PalmprintSampleType"/>
		<xs:element name="splitHand" type="tns:SplitHand" minOccurs="0"/>
		<xs:element name="fullHand" type="tns:FullHand" minOccurs="0"/>
		<xs:element name="templates" type="tns:PalmprintTemplates" minOccurs="0"/>
		<xs:element name="segments" type="tns:PalmprintSegments" minOccurs="0"/>
		<xs:element name="userQuality" type="xs:int" minOccurs="0"/>
		<xs:element name="fingerPrintTemplates" type="tns:FingerprintTemplates" minOccurs="0"/>
		<xs:element name="fingerPrintSegments" type="tns:FingerprintSegments" minOccurs="0"/>
		<xs:element name="mbssPalmprintSampleQuality" type="xs:double" minOccurs="0"/>
		<xs:element name="mbssFingerprintSampleQuality" type="xs:double" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="SplitHand">
	<xs:sequence>
		<xs:element name="rightLowerHand" type="tns:Image" minOccurs="0"/>
		<xs:element name="rightWriterPalm" type="tns:Image" minOccurs="0"/>
		<xs:element name="leftLowerHand" type="tns:Image" minOccurs="0"/>
		<xs:element name="leftWriterPalm" type="tns:Image" minOccurs="0"/>
		<xs:element name="rightUpperHand" type="tns:Image" minOccurs="0"/>
		<xs:element name="leftUpperHand" type="tns:Image" minOccurs="0"/>
		<xs:element name="rightThenar" type="tns:Image" minOccurs="0"/>
		<xs:element name="leftThenar" type="tns:Image" minOccurs="0"/>
		<xs:element name="rightHypothenar" type="tns:Image" minOccurs="0"/>
		<xs:element name="leftHypothenar" type="tns:Image" minOccurs="0"/>
		<xs:element name="rightInterdigital" type="tns:Image" minOccurs="0"/>
		<xs:element name="leftInterdigital" type="tns:Image" minOccurs="0"/>
		<xs:element name="missingFingers" type="tns:MissingFingers" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="FullHand">
	<xs:sequence>
		<xs:element name="rightFullHand" type="tns:Image" minOccurs="0"/>
		<xs:element name="rightWriterPalm" type="tns:Image" minOccurs="0"/>
		<xs:element name="leftFullHand" type="tns:Image" minOccurs="0"/>
		<xs:element name="leftWriterPalm" type="tns:Image" minOccurs="0"/>
		<xs:element name="missingFingers" type="tns:MissingFingers" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="PalmprintTemplates">
	<xs:sequence>
		<xs:element name="rightLowerHand" type="tns:Template" minOccurs="0"/>
		<xs:element name="rightWriterPalm" type="tns:Template" minOccurs="0"/>
		<xs:element name="leftLowerHand" type="tns:Template" minOccurs="0"/>
		<xs:element name="leftWriterPalm" type="tns:Template" minOccurs="0"/>
		<xs:element name="rightUpperHand" type="tns:Template" minOccurs="0"/>
		<xs:element name="leftUpperHand" type="tns:Template" minOccurs="0"/>
		<xs:element name="rightThenar" type="tns:Template" minOccurs="0"/>
		<xs:element name="leftThenar" type="tns:Template" minOccurs="0"/>
		<xs:element name="rightHypothenar" type="tns:Template" minOccurs="0"/>
		<xs:element name="leftHypothenar" type="tns:Template" minOccurs="0"/>
		<xs:element name="rightInterdigital" type="tns:Template" minOccurs="0"/>
		<xs:element name="leftInterdigital" type="tns:Template" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="PalmprintSegments">
	<xs:sequence>
		<xs:element name="rightLowerHand" type="tns:Box" minOccurs="0"/>
		<xs:element name="rightWriterPalm" type="tns:Box" minOccurs="0"/>
		<xs:element name="leftLowerHand" type="tns:Box" minOccurs="0"/>
		<xs:element name="leftWriterPalm" type="tns:Box" minOccurs="0"/>
		<xs:element name="rightUpperHand" type="tns:Box" minOccurs="0"/>
		<xs:element name="leftUpperHand" type="tns:Box" minOccurs="0"/>
		<xs:element name="rightThenar" type="tns:Box" minOccurs="0"/>
		<xs:element name="leftThenar" type="tns:Box" minOccurs="0"/>
		<xs:element name="rightHypothenar" type="tns:Box" minOccurs="0"/>
		<xs:element name="leftHypothenar" type="tns:Box" minOccurs="0"/>
		<xs:element name="rightInterdigital" type="tns:Box" minOccurs="0"/>
		<xs:element name="leftInterdigital" type="tns:Box" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="TattooSample">
	<xs:sequence>
		<xs:element name="id" type="xs:long"/>
		<xs:element name="image" type="tns:Image" minOccurs="0"/>
		<xs:element name="template" type="tns:Template" minOccurs="0"/>
		<xs:element name="userQuality" type="xs:int" minOccurs="0"/>
		<xs:element name="polygonVertices" type="tns:Point" minOccurs="0" maxOccurs="unbounded"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="PedestrianSample">
	<xs:sequence>
		<xs:element name="id" type="xs:long"/>
		<xs:element name="template" type="tns:Template" minOccurs="0"/>
		<xs:element name="userQuality" type="xs:int" minOccurs="0"/>
		<xs:element name="image" type="tns:Image" minOccurs="0"/>
		<xs:element name="boundingBox" type="tns:BoundingBox" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="BoundingBox">
	<xs:sequence>
		<xs:element name="topLeftX" type="xs:int"/>
		<xs:element name="topLeftY" type="xs:int"/>
		<xs:element name="width" type="xs:int"/>
		<xs:element name="height" type="xs:int"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="SpatioTemporal">
	<xs:sequence>
		<xs:element name="planCoordinate" type="tns:PlanCoordinate" minOccurs="0"/>
		<xs:element name="verticaleCoordinate" type="tns:VerticalCoordinate" minOccurs="0"/>
		<xs:element name="timingReference" type="tns:TimingReference" minOccurs="0"/>
		<xs:element name="otherInformation" type="xs:base64Binary" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="PlanCoordinate">
	<xs:sequence>
		<xs:element name="longitude" type="xs:float"/>
		<xs:element name="latidude" type="xs:float"/>
		<xs:element name="unit" type="tns:UnitPlan"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="VerticalCoordinate">
	<xs:sequence>
		<xs:element name="altitude" type="xs:float"/>
		<xs:element name="unit" type="tns:UnitVertical"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="TimingReference">
	<xs:sequence>
		<xs:element name="absoluteTime" type="xs:int"/>
		<xs:element name="unit" type="tns:UnitTime"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="BagSample">
	<xs:sequence>
		<xs:element name="id" type="xs:long"/>
		<xs:element name="template" type="tns:Template" minOccurs="0"/>
		<xs:element name="userQuality" type="xs:int" minOccurs="0"/>
		<xs:element name="image" type="tns:Image" minOccurs="0"/>
		<xs:element name="boundingBox" type="tns:BoundingBox" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="FilterSet">
	<xs:sequence>
		<xs:element name="numericFilters" type="tns:NumericFilter" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="binaryFilters" type="tns:BinaryFilter" minOccurs="0" maxOccurs="unbounded"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="NumericFilter">
	<xs:sequence>
		<xs:element name="id" type="xs:int"/>
		<xs:element name="operation" type="tns:NumericOperation"/>
		<xs:element name="value" type="xs:long"/>
		<xs:element name="interval" type="xs:long" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="BinaryFilter">
	<xs:sequence>
		<xs:element name="id" type="xs:int"/>
		<xs:element name="operation" type="tns:BinaryOperation"/>
		<xs:element name="value" type="xs:base64Binary"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="FaceAnalysisConfig">
	<xs:sequence>
		<xs:element name="icaoConfig" type="tns:IcaoConfig" minOccurs="0"/>
		<xs:element name="computeBioQuality" type="xs:boolean" minOccurs="0"/>
		<xs:element name="detectFeaturesAndFacialInformation" type="xs:boolean" minOccurs="0"/>
		<xs:element name="computeBackgroundColorScores" type="xs:boolean" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="IcaoConfig">
	<xs:sequence>
		<xs:element name="computeScores" type="xs:boolean" minOccurs="0"/>
		<xs:element name="isChild" type="xs:boolean" minOccurs="0"/>
		<xs:element name="computeShadowsFacial" type="xs:boolean" minOccurs="0"/>
		<xs:element name="computeShadowsEyeSocket" type="xs:boolean" minOccurs="0"/>
		<xs:element name="computeUniformLighting" type="xs:boolean" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="PedestrianAnalysisConfig">
	<xs:sequence>
		<xs:element name="performGenderAnalysis" type="xs:boolean" minOccurs="0"/>
		<xs:element name="performBagAnalysis" type="xs:boolean" minOccurs="0"/>
		<xs:element name="performColorAnalysis" type="xs:boolean" minOccurs="0"/>
		<xs:element name="performHardHatAnalysis" type="xs:boolean" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="InsertPersonRequest">
	<xs:sequence>
		<xs:element name="basicRequest" type="tns:BasicRequest"/>
		<xs:element name="person" type="tns:Person"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="UpdatePersonRequest">
	<xs:sequence>
		<xs:element name="basicRequest" type="tns:BasicRequest"/>
		<xs:element name="person" type="tns:Person"/>
		<xs:element name="oldClientDataVersion" type="xs:string" minOccurs="0"/>
		<xs:element name="oldMbssDataVersion" type="xs:string" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="DeletePersonRequest">
	<xs:sequence>
		<xs:element name="basicRequest" type="tns:BasicRequest"/>
		<xs:element name="id" type="xs:string"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="ExistPersonRequest">
	<xs:sequence>
		<xs:element name="basicRequest" type="tns:BasicRequest"/>
		<xs:element name="id" type="xs:string"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="GetPersonRequest">
	<xs:sequence>
		<xs:element name="basicRequest" type="tns:BasicRequest"/>
		<xs:element name="id" type="xs:string"/>
		<xs:element name="withAn2" type="xs:boolean" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="CountPersonRequest">
	<xs:sequence>
		<xs:element name="basicRequest" type="tns:BasicRequest"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="PartialUpdatePersonRequest">
	<xs:sequence>
		<xs:element name="basicRequest" type="tns:BasicRequest"/>
		<xs:element name="partialUpdatePerson" type="tns:PartialUpdatePerson"/>
		<xs:element name="oldClientDataVersion" type="xs:string" minOccurs="0"/>
		<xs:element name="oldMbssDataVersion" type="xs:string" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="PartialUpdatePerson">
	<xs:sequence>
		<xs:element name="id" type="xs:string"/>
		<xs:element name="insertRegistration" type="tns:Registration" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="updateRegistration" type="tns:Registration" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="deleteRegistrationId" type="xs:long" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="filterSet" type="tns:FilterSet" minOccurs="0"/>
		<xs:element name="clientData" type="xs:base64Binary" minOccurs="0"/>
		<xs:element name="clientDataVersion" type="xs:string" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="GetTemplatesRequest">
	<xs:sequence>
		<xs:element name="basicRequest" type="tns:BasicRequest"/>
		<xs:element name="id" type="xs:string"/>
		<xs:element name="templatePosition" type="tns:TemplatePosition" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="templateFormat" type="tns:TemplateFormatType" minOccurs="0"/>
		<xs:element name="templateMaxSize" type="xs:int" minOccurs="0"/>
		<xs:element name="minutiaeOrder" type="tns:MinutiaeOrderType" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="TemplatePosition">
	<xs:sequence>
		<xs:element name="registrationId" type="xs:long"/>
		<xs:element name="sampleId" type="xs:long"/>
		<xs:element name="position" type="tns:Position"/>
		<xs:element name="template" type="tns:Template" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="GetPersonInfoListNumberRequest">
	<xs:sequence>
		<xs:element name="basicRequest" type="tns:BasicRequest"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="GetPersonInfoListRequest">
	<xs:sequence>
		<xs:element name="basicRequest" type="tns:BasicRequest"/>
		<xs:element name="listIndex" type="xs:int"/>
		<xs:element name="startTime" type="xs:string" minOccurs="0"/>
		<xs:element name="endTime" type="xs:string" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="AuthenticatePersonRequest">
	<xs:sequence>
		<xs:element name="basicRequest" type="tns:BasicRequest"/>
		<xs:element name="person" type="tns:Person"/>
		<xs:element name="accuracyLevel" type="xs:int" minOccurs="0"/>
		<xs:element name="referenceId" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="PersonToPersonAuthenticateRequest">
	<xs:sequence>
		<xs:element name="basicRequest" type="tns:BasicRequest"/>
		<xs:element name="personSearch" type="tns:Person"/>
		<xs:element name="accuracyLevel" type="xs:int" minOccurs="0"/>
		<xs:element name="personRef" type="tns:Person" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="fingerEarlyExit" type="xs:boolean" minOccurs="0"/>
		<xs:element name="fingerDetailedInfoMatching" type="xs:boolean" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="PersonToPersonMatchRequest">
	<xs:sequence>
		<xs:element name="basicRequest" type="tns:BasicRequest"/>
		<xs:element name="person" type="tns:Person"/>
		<xs:element name="accuracyLevel" type="xs:int" minOccurs="0"/>
		<xs:element name="referenceId" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="missanalysisId" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="usePositionInMatching" type="xs:boolean" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="LatentToPersonMatchRequest">
	<xs:sequence>
		<xs:element name="basicRequest" type="tns:BasicRequest"/>
		<xs:element name="latentPrint" type="tns:LatentPrint"/>
		<xs:element name="accuracyLevel" type="xs:int" minOccurs="0"/>
		<xs:element name="referenceId" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="juvenilePrintMode" type="xs:boolean" minOccurs="0"/>
		<xs:element name="missanalysisId" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="LatentPrint">
	<xs:sequence>
		<xs:element name="id" type="xs:string"/>
		<xs:element name="image" type="tns:Image" minOccurs="0"/>
		<xs:element name="box" type="tns:Box" minOccurs="0"/>
		<xs:element name="template" type="tns:Template" minOccurs="0"/>
		<xs:element name="oriented" type="xs:boolean"/>
		<xs:element name="position" type="tns:LatentPosition"/>
		<xs:element name="filterSet" type="tns:FilterSet" minOccurs="0"/>
		<xs:element name="minutiae" type="tns:Minutia" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="cores" type="tns:Core" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="deltas" type="tns:Delta" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="polygonVertices" type="tns:Point" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="skeleton" type="tns:Skeleton" minOccurs="0"/>
		<xs:element name="maskImage" type="tns:MaskImage" minOccurs="0"/>
		<xs:element name="patterns" type="tns:Pattern" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="clientData" type="xs:base64Binary" minOccurs="0"/>
		<xs:element name="clientDataVersion" type="xs:string" minOccurs="0"/>
		<xs:element name="mbssDataVersion" type="xs:string" minOccurs="0"/>
		<xs:element name="lastModificationTime" type="xs:string" minOccurs="0"/>
		<xs:element name="rvid" type="xs:string" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="LatentPosition">
	<xs:sequence>
		<xs:element name="type" type="tns:LatentType"/>
		<xs:element name="fingerPosition" type="tns:FingerLatentPosition" minOccurs="0"/>
		<xs:element name="palmOrSupplementalsPosition" type="tns:PalmOrSupplementalsLatentPosition" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="FingerLatentPosition">
	<xs:sequence>
		<xs:element name="hasRightThumbDistal" type="xs:boolean"/>
		<xs:element name="hasRightIndexDistal" type="xs:boolean"/>
		<xs:element name="hasRightMiddleDistal" type="xs:boolean"/>
		<xs:element name="hasRightRingDistal" type="xs:boolean"/>
		<xs:element name="hasRightLittleDistal" type="xs:boolean"/>
		<xs:element name="hasLeftThumbDistal" type="xs:boolean"/>
		<xs:element name="hasLeftIndexDistal" type="xs:boolean"/>
		<xs:element name="hasLeftMiddleDistal" type="xs:boolean"/>
		<xs:element name="hasLeftRingDistal" type="xs:boolean"/>
		<xs:element name="hasLeftLittleDistal" type="xs:boolean"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="PalmOrSupplementalsLatentPosition">
	<xs:sequence>
		<xs:element name="hasRightThumbTips" type="xs:boolean"/>
		<xs:element name="hasRightIndexTips" type="xs:boolean"/>
		<xs:element name="hasRightMiddleTips" type="xs:boolean"/>
		<xs:element name="hasRightRingTips" type="xs:boolean"/>
		<xs:element name="hasRightLittleTips" type="xs:boolean"/>
		<xs:element name="hasLeftThumbTips" type="xs:boolean"/>
		<xs:element name="hasLeftIndexTips" type="xs:boolean"/>
		<xs:element name="hasLeftMiddleTips" type="xs:boolean"/>
		<xs:element name="hasLeftRingTips" type="xs:boolean"/>
		<xs:element name="hasLeftLittleTips" type="xs:boolean"/>
		<xs:element name="hasRightThumbDistal" type="xs:boolean"/>
		<xs:element name="hasRightIndexDistal" type="xs:boolean"/>
		<xs:element name="hasRightMiddleDistal" type="xs:boolean"/>
		<xs:element name="hasRightRingDistal" type="xs:boolean"/>
		<xs:element name="hasRightLittleDistal" type="xs:boolean"/>
		<xs:element name="hasLeftThumbDistal" type="xs:boolean"/>
		<xs:element name="hasLeftIndexDistal" type="xs:boolean"/>
		<xs:element name="hasLeftMiddleDistal" type="xs:boolean"/>
		<xs:element name="hasLeftRingDistal" type="xs:boolean"/>
		<xs:element name="hasLeftLittleDistal" type="xs:boolean"/>
		<xs:element name="hasRightIndexMedial" type="xs:boolean"/>
		<xs:element name="hasRightMiddleMedial" type="xs:boolean"/>
		<xs:element name="hasRightRingMedial" type="xs:boolean"/>
		<xs:element name="hasRightLittleMedial" type="xs:boolean"/>
		<xs:element name="hasLeftIndexMedial" type="xs:boolean"/>
		<xs:element name="hasLeftMiddleMedial" type="xs:boolean"/>
		<xs:element name="hasLeftRingMedial" type="xs:boolean"/>
		<xs:element name="hasLeftLittleMedial" type="xs:boolean"/>
		<xs:element name="hasRightThumbProximal" type="xs:boolean"/>
		<xs:element name="hasRightIndexProximal" type="xs:boolean"/>
		<xs:element name="hasRightMiddleProximal" type="xs:boolean"/>
		<xs:element name="hasRightRingProximal" type="xs:boolean"/>
		<xs:element name="hasRightLittleProximal" type="xs:boolean"/>
		<xs:element name="hasLeftThumbProximal" type="xs:boolean"/>
		<xs:element name="hasLeftIndexProximal" type="xs:boolean"/>
		<xs:element name="hasLeftMiddleProximal" type="xs:boolean"/>
		<xs:element name="hasLeftRingProximal" type="xs:boolean"/>
		<xs:element name="hasLeftLittleProximal" type="xs:boolean"/>
		<xs:element name="hasRightPalmTopInterior" type="xs:boolean"/>
		<xs:element name="hasRightPalmTopCenter" type="xs:boolean"/>
		<xs:element name="hasRightPalmTopExterior" type="xs:boolean"/>
		<xs:element name="hasRightPalmMiddleInterior" type="xs:boolean"/>
		<xs:element name="hasRightPalmMiddleCenter" type="xs:boolean"/>
		<xs:element name="hasRightPalmMiddleExterior" type="xs:boolean"/>
		<xs:element name="hasRightPalmBottomInterior" type="xs:boolean"/>
		<xs:element name="hasRightPalmBottomExterior" type="xs:boolean"/>
		<xs:element name="hasLeftPalmTopInterior" type="xs:boolean"/>
		<xs:element name="hasLeftPalmTopCenter" type="xs:boolean"/>
		<xs:element name="hasLeftPalmTopExterior" type="xs:boolean"/>
		<xs:element name="hasLeftPalmMiddleInterior" type="xs:boolean"/>
		<xs:element name="hasLeftPalmMiddleCenter" type="xs:boolean"/>
		<xs:element name="hasLeftPalmMiddleExterior" type="xs:boolean"/>
		<xs:element name="hasLeftPalmBottomInterior" type="xs:boolean"/>
		<xs:element name="hasLeftPalmBottomExterior" type="xs:boolean"/>
		<xs:element name="hasRightPalmTopExteriorSide" type="xs:boolean"/>
		<xs:element name="hasRightPalmMiddleExteriorSide" type="xs:boolean"/>
		<xs:element name="hasRightPalmBottomExteriorSide" type="xs:boolean"/>
		<xs:element name="hasLeftPalmTopExteriorSide" type="xs:boolean"/>
		<xs:element name="hasLeftPalmMiddleExteriorSide" type="xs:boolean"/>
		<xs:element name="hasLeftPalmBottomExteriorSide" type="xs:boolean"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="Minutia">
	<xs:sequence>
		<xs:element name="coordinates" type="tns:Point"/>
		<xs:element name="angle" type="xs:float"/>
		<xs:element name="type" type="tns:MinutiaType" minOccurs="0"/>
		<xs:element name="quality" type="xs:int" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="Core">
	<xs:sequence>
		<xs:element name="coordinates" type="tns:Point"/>
		<xs:element name="angle" type="xs:float"/>
		<xs:element name="quality" type="xs:int" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="Delta">
	<xs:sequence>
		<xs:element name="coordinates" type="tns:Point"/>
		<xs:element name="directionUp" type="xs:float"/>
		<xs:element name="directionLeft" type="xs:float"/>
		<xs:element name="directionRight" type="xs:float"/>
		<xs:element name="quality" type="xs:int" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="Skeleton">
	<xs:sequence>
		<xs:element name="image" type="tns:Image"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="MaskImage">
	<xs:sequence>
		<xs:element name="image" type="tns:Image"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="InsertWithFilterThenMatchWithoutFilterPersonRequest">
	<xs:sequence>
		<xs:element name="basicRequest" type="tns:BasicRequest"/>
		<xs:element name="person" type="tns:Person"/>
		<xs:element name="accuracyLevel" type="xs:int" minOccurs="0"/>
		<xs:element name="referenceId" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="missanalysisId" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="usePositionInMatching" type="xs:boolean" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="EncodeLatentRequest">
	<xs:sequence>
		<xs:element name="basicRequest" type="tns:BasicRequest"/>
		<xs:element name="latentPrint" type="tns:LatentPrint"/>
		<xs:element name="encodeLevel" type="tns:EncodeLevel" minOccurs="0"/>
		<xs:element name="accuracyLevel" type="xs:int" minOccurs="0"/>
		<xs:element name="keepImages" type="xs:boolean" minOccurs="0"/>
		<xs:element name="computeParallelMinutiaeQuality" type="xs:boolean" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="InsertLatentRequest">
	<xs:sequence>
		<xs:element name="basicRequest" type="tns:BasicRequest"/>
		<xs:element name="latentPrint" type="tns:LatentPrint"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="UpdateLatentRequest">
	<xs:sequence>
		<xs:element name="basicRequest" type="tns:BasicRequest"/>
		<xs:element name="latentPrint" type="tns:LatentPrint"/>
		<xs:element name="oldClientDataVersion" type="xs:string" minOccurs="0"/>
		<xs:element name="oldMbssDataVersion" type="xs:string" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="DeleteLatentRequest">
	<xs:sequence>
		<xs:element name="basicRequest" type="tns:BasicRequest"/>
		<xs:element name="id" type="xs:string"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="ExistLatentRequest">
	<xs:sequence>
		<xs:element name="basicRequest" type="tns:BasicRequest"/>
		<xs:element name="id" type="xs:string"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="GetLatentRequest">
	<xs:sequence>
		<xs:element name="basicRequest" type="tns:BasicRequest"/>
		<xs:element name="id" type="xs:string"/>
		<xs:element name="withAn2" type="xs:boolean" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="CountLatentRequest">
	<xs:sequence>
		<xs:element name="basicRequest" type="tns:BasicRequest"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="GetLatentInfoListNumberRequest">
	<xs:sequence>
		<xs:element name="basicRequest" type="tns:BasicRequest"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="GetLatentInfoListRequest">
	<xs:sequence>
		<xs:element name="basicRequest" type="tns:BasicRequest"/>
		<xs:element name="listIndex" type="xs:int"/>
		<xs:element name="startTime" type="xs:string" minOccurs="0"/>
		<xs:element name="endTime" type="xs:string" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="PersonToLatentMatchRequest">
	<xs:sequence>
		<xs:element name="basicRequest" type="tns:BasicRequest"/>
		<xs:element name="person" type="tns:Person"/>
		<xs:element name="accuracyLevel" type="xs:int" minOccurs="0"/>
		<xs:element name="referenceId" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="missanalysisId" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="LatentToLatentMatchRequest">
	<xs:sequence>
		<xs:element name="basicRequest" type="tns:BasicRequest"/>
		<xs:element name="latentPrint" type="tns:LatentPrint"/>
		<xs:element name="accuracyLevel" type="xs:int" minOccurs="0"/>
		<xs:element name="referenceId" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="missanalysisId" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="ReplacePersonSampleRequest">
	<xs:sequence>
		<xs:element name="basicRequest" type="tns:BasicRequest"/>
		<xs:element name="personWithSamplesToReplace" type="tns:Person"/>
		<xs:element name="oldClientDataVersion" type="xs:string" minOccurs="0"/>
		<xs:element name="oldMbssDataVersion" type="xs:string" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="GetPersonInfoListForConsistencyRequest">
	<xs:sequence>
		<xs:element name="basicRequest" type="tns:BasicRequest"/>
		<xs:element name="nbItems" type="xs:int"/>
		<xs:element name="token" type="xs:string" minOccurs="0"/>
		<xs:element name="startTime" type="xs:long" minOccurs="0"/>
		<xs:element name="endTime" type="xs:long" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="GetPersonListForConsistencyRequest">
	<xs:sequence>
		<xs:element name="basicRequest" type="tns:BasicRequest"/>
		<xs:element name="nbItems" type="xs:int"/>
		<xs:element name="token" type="xs:string" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="DetectFacesRequest">
	<xs:sequence>
		<xs:element name="basicRequest" type="tns:BasicRequest"/>
		<xs:element name="image" type="tns:Image" minOccurs="0"/>
		<xs:element name="enableRotation" type="xs:boolean" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="GetLatentInfoListForConsistencyRequest">
	<xs:sequence>
		<xs:element name="basicRequest" type="tns:BasicRequest"/>
		<xs:element name="nbItems" type="xs:int"/>
		<xs:element name="token" type="xs:string" minOccurs="0"/>
		<xs:element name="startTime" type="xs:long" minOccurs="0"/>
		<xs:element name="endTime" type="xs:long" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="GetLatentListForConsistencyRequest">
	<xs:sequence>
		<xs:element name="basicRequest" type="tns:BasicRequest"/>
		<xs:element name="nbItems" type="xs:int"/>
		<xs:element name="token" type="xs:string" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="RoutingData">
	<xs:sequence>
		<xs:element name="matchToPersonSLALevel" type="xs:int" minOccurs="0"/>
		<xs:element name="priority" type="xs:int" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="processResponse">
	<xs:sequence>
		<xs:element name="return" type="tns:Response" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="Response">
	<xs:sequence>
		<xs:element name="responseType" type="tns:RequestType"/>
		<xs:element name="encodePersonResponse" type="tns:EncodePersonResponse" minOccurs="0"/>
		<xs:element name="encodeLatentResponse" type="tns:EncodeLatentResponse" minOccurs="0"/>
		<xs:element name="insertPersonResponse" type="tns:InsertPersonResponse" minOccurs="0"/>
		<xs:element name="deletePersonResponse" type="tns:DeletePersonResponse" minOccurs="0"/>
		<xs:element name="getPersonResponse" type="tns:GetPersonResponse" minOccurs="0"/>
		<xs:element name="countPersonResponse" type="tns:CountPersonResponse" minOccurs="0"/>
		<xs:element name="existPersonResponse" type="tns:ExistPersonResponse" minOccurs="0"/>
		<xs:element name="insertLatentResponse" type="tns:InsertLatentResponse" minOccurs="0"/>
		<xs:element name="deleteLatentResponse" type="tns:DeleteLatentResponse" minOccurs="0"/>
		<xs:element name="getLatentResponse" type="tns:GetLatentResponse" minOccurs="0"/>
		<xs:element name="insertWithFilterThenMatchWithoutFilterPersonResponse" type="tns:InsertWithFilterThenMatchWithoutFilterPersonResponse" minOccurs="0"/>
		<xs:element name="getTemplatesResponse" type="tns:GetTemplatesResponse" minOccurs="0"/>
		<xs:element name="authenticatePersonResponse" type="tns:AuthenticatePersonResponse" minOccurs="0"/>
		<xs:element name="personToPersonAuthResponse" type="tns:PersonToPersonAuthenticateResponse" minOccurs="0"/>
		<xs:element name="personToPersonMatchResponse" type="tns:PersonToPersonMatchResponse" minOccurs="0"/>
		<xs:element name="personToLatentMatchResponse" type="tns:PersonToLatentMatchResponse" minOccurs="0"/>
		<xs:element name="latentToPersonMatchResponse" type="tns:LatentToPersonMatchResponse" minOccurs="0"/>
		<xs:element name="latentToLatentMatchResponse" type="tns:LatentToLatentMatchResponse" minOccurs="0"/>
		<xs:element name="updatePersonResponse" type="tns:UpdatePersonResponse" minOccurs="0"/>
		<xs:element name="updateLatentResponse" type="tns:UpdateLatentResponse" minOccurs="0"/>
		<xs:element name="countLatentResponse" type="tns:CountLatentResponse" minOccurs="0"/>
		<xs:element name="existLatentResponse" type="tns:ExistLatentResponse" minOccurs="0"/>
		<xs:element name="partialUpdatePersonResponse" type="tns:PartialUpdatePersonResponse" minOccurs="0"/>
		<xs:element name="getPersonInfoListNumberResponse" type="tns:GetPersonInfoListNumberResponse" minOccurs="0"/>
		<xs:element name="getPersonInfoListResponse" type="tns:GetPersonInfoListResponse" minOccurs="0"/>
		<xs:element name="getLatentInfoListNumberResponse" type="tns:GetLatentInfoListNumberResponse" minOccurs="0"/>
		<xs:element name="getLatentInfoListResponse" type="tns:GetLatentInfoListResponse" minOccurs="0"/>
		<xs:element name="replacePersonSampleResponse" type="tns:ReplacePersonSampleResponse" minOccurs="0"/>
		<xs:element name="getPersonInfoListForConsistencyResponse" type="tns:GetPersonInfoListForConsistencyResponse" minOccurs="0"/>
		<xs:element name="getPersonListForConsistencyResponse" type="tns:GetPersonListForConsistencyResponse" minOccurs="0"/>
		<xs:element name="detectFacesResponse" type="tns:DetectFacesResponse" minOccurs="0"/>
		<xs:element name="getLatentInfoListForConsistencyResponse" type="tns:GetLatentInfoListForConsistencyResponse" minOccurs="0"/>
		<xs:element name="getLatentListForConsistencyResponse" type="tns:GetLatentListForConsistencyResponse" minOccurs="0"/>
		<xs:element name="errorResponse" type="tns:ErrorResponse" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="EncodePersonResponse">
	<xs:sequence>
		<xs:element name="basicResponse" type="tns:BasicResponse"/>
		<xs:element name="person" type="tns:Person" minOccurs="0"/>
		<xs:element name="error" type="tns:EncodeError" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="encodeLevel" type="tns:EncodeLevel" minOccurs="0"/>
		<xs:element name="sequenceCheckErrors" type="tns:SequenceCheckError" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="coderParameters" type="xs:string" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="BasicResponse">
	<xs:sequence>
		<xs:element name="id" type="xs:string"/>
		<xs:element name="error" type="tns:Error"/>
		<xs:element name="duration" type="xs:int" minOccurs="0"/>
		<xs:element name="correlationId" type="xs:string" minOccurs="0"/>
		<xs:element name="correlationData" type="xs:base64Binary" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="Error">
	<xs:sequence>
		<xs:element name="code" type="tns:ErrorCode"/>
		<xs:element name="message" type="xs:string" minOccurs="0"/>
		<xs:element name="file" type="xs:string" minOccurs="0"/>
		<xs:element name="line" type="xs:int" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="EncodeError">
	<xs:sequence>
		<xs:element name="error" type="tns:Error"/>
		<xs:element name="reference" type="tns:SampleReference" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="SampleReference">
	<xs:sequence>
		<xs:element name="registrationId" type="xs:long" minOccurs="0"/>
		<xs:element name="fingerprintSampleId" type="xs:long" minOccurs="0"/>
		<xs:element name="irisSampleId" type="xs:long" minOccurs="0"/>
		<xs:element name="faceSampleId" type="xs:long" minOccurs="0"/>
		<xs:element name="palmprintSampleId" type="xs:long" minOccurs="0"/>
		<xs:element name="decodedPosition" type="tns:DecodedPosition" minOccurs="0"/>
		<xs:element name="tattooSampleId" type="xs:long" minOccurs="0"/>
		<xs:element name="pedestrianSampleId" type="xs:long" minOccurs="0"/>
		<xs:element name="bagSampleId" type="xs:long" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="DecodedPosition">
	<xs:sequence>
		<xs:element name="printPosition" type="tns:PrintPosition" minOccurs="0"/>
		<xs:element name="irisPosition" type="tns:IrisPosition" minOccurs="0"/>
		<xs:element name="facePosition" type="tns:FacePosition" minOccurs="0"/>
		<xs:element name="tattooPosition" type="tns:TattooPosition" minOccurs="0"/>
		<xs:element name="pedestrianPosition" type="tns:PedestrianPosition" minOccurs="0"/>
		<xs:element name="bagPosition" type="tns:BagPosition" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="PrintPosition">
	<xs:sequence>
		<xs:element name="handPosition" type="tns:HandPosition"/>
		<xs:element name="fingerPosition" type="tns:FingerPosition" minOccurs="0"/>
		<xs:element name="palmPosition" type="tns:PalmPosition" minOccurs="0"/>
		<xs:element name="fingerprintType" type="tns:FingerprintType" minOccurs="0"/>
		<xs:element name="acquisitionType" type="tns:AcquisitionType"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="SequenceCheckError">
	<xs:sequence>
		<xs:element name="type" type="tns:SequenceCheckErrorType"/>
		<xs:element name="confidence" type="xs:int"/>
		<xs:element name="items" type="tns:SequenceCheckErrorItem" minOccurs="0" maxOccurs="unbounded"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="SequenceCheckErrorItem">
	<xs:sequence>
		<xs:element name="registrationId" type="xs:long"/>
		<xs:element name="sampleId" type="xs:long"/>
		<xs:element name="position" type="xs:int"/>
		<xs:element name="sampleType" type="tns:FingerprintSampleType" minOccurs="0"/>
		<xs:element name="palmSampleType" type="tns:PalmprintSampleType" minOccurs="0"/>
		<xs:element name="decodedPosition" type="tns:DecodedPosition" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="EncodeLatentResponse">
	<xs:sequence>
		<xs:element name="basicResponse" type="tns:BasicResponse"/>
		<xs:element name="latentPrint" type="tns:LatentPrint" minOccurs="0"/>
		<xs:element name="error" type="tns:EncodeError" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="encodeLevel" type="tns:EncodeLevel" minOccurs="0"/>
		<xs:element name="coderParameters" type="xs:string" minOccurs="0"/>
		<xs:element name="segmentationResult" type="tns:SegmentationResult" minOccurs="0" maxOccurs="unbounded"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="SegmentationResult">
	<xs:sequence>
		<xs:element name="box" type="tns:Box" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="InsertPersonResponse">
	<xs:sequence>
		<xs:element name="basicResponse" type="tns:BasicResponse"/>
		<xs:element name="person" type="tns:Person" minOccurs="0"/>
		<xs:element name="error" type="tns:EncodeError" minOccurs="0" maxOccurs="unbounded"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="DeletePersonResponse">
	<xs:sequence>
		<xs:element name="basicResponse" type="tns:BasicResponse"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="GetPersonResponse">
	<xs:sequence>
		<xs:element name="basicResponse" type="tns:BasicResponse"/>
		<xs:element name="person" type="tns:Person" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="CountPersonResponse">
	<xs:sequence>
		<xs:element name="basicResponse" type="tns:BasicResponse"/>
		<xs:element name="count" type="xs:int" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="ExistPersonResponse">
	<xs:sequence>
		<xs:element name="basicResponse" type="tns:BasicResponse"/>
		<xs:element name="exist" type="xs:boolean"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="InsertLatentResponse">
	<xs:sequence>
		<xs:element name="basicResponse" type="tns:BasicResponse"/>
		<xs:element name="latentPrint" type="tns:LatentPrint" minOccurs="0"/>
		<xs:element name="error" type="tns:EncodeError" minOccurs="0" maxOccurs="unbounded"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="DeleteLatentResponse">
	<xs:sequence>
		<xs:element name="basicResponse" type="tns:BasicResponse"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="GetLatentResponse">
	<xs:sequence>
		<xs:element name="basicResponse" type="tns:BasicResponse"/>
		<xs:element name="latentPrint" type="tns:LatentPrint" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="InsertWithFilterThenMatchWithoutFilterPersonResponse">
	<xs:sequence>
		<xs:element name="basicResponse" type="tns:BasicResponse"/>
		<xs:element name="candidate" type="tns:Candidate" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="noHitRank" type="xs:int" minOccurs="0"/>
		<xs:element name="missAnalysis" type="tns:MissAnalysis" minOccurs="0"/>
		<xs:element name="error" type="tns:EncodeError" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="person" type="tns:Person" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="Candidate">
	<xs:sequence>
		<xs:element name="id" type="xs:string"/>
		<xs:element name="score" type="xs:int"/>
		<xs:element name="groups" type="tns:Group" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="clientData" type="xs:base64Binary" minOccurs="0"/>
		<xs:element name="decision" type="tns:Decision"/>
		<xs:element name="clientDataVersion" type="xs:string" minOccurs="0"/>
		<xs:element name="mbssDataVersion" type="xs:string" minOccurs="0"/>
		<xs:element name="rvid" type="xs:string" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="Group">
	<xs:sequence>
		<xs:element name="type" type="tns:GroupType"/>
		<xs:element name="score" type="xs:int"/>
		<xs:element name="segmentResults" type="tns:SegmentResult" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="segmentType" type="xs:string" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="SegmentResult">
	<xs:sequence>
		<xs:element name="score" type="xs:int" minOccurs="0"/>
		<xs:element name="u" type="xs:int" minOccurs="0"/>
		<xs:element name="v" type="xs:int" minOccurs="0"/>
		<xs:element name="a" type="xs:int" minOccurs="0"/>
		<xs:element name="crampingX" type="xs:int" minOccurs="0"/>
		<xs:element name="crampingY" type="xs:int" minOccurs="0"/>
		<xs:element name="personRefId" type="tns:PersonId" minOccurs="0"/>
		<xs:element name="personSearchId" type="tns:PersonId" minOccurs="0"/>
		<xs:element name="dilatation" type="xs:int" minOccurs="0"/>
		<xs:element name="imageTranslationX" type="xs:int" minOccurs="0"/>
		<xs:element name="imageTranslationY" type="xs:int" minOccurs="0"/>
		<xs:element name="imageRotation" type="xs:double" minOccurs="0"/>
		<xs:element name="imageCrampingPointX" type="xs:int" minOccurs="0"/>
		<xs:element name="imageCrampingPointY" type="xs:int" minOccurs="0"/>
		<xs:element name="imageDilatation" type="xs:int" minOccurs="0"/>
		<xs:element name="refACE" type="xs:boolean" minOccurs="0"/>
		<xs:element name="searchACE" type="xs:boolean" minOccurs="0"/>
		<xs:element name="imageRotation8192" type="xs:int" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="PersonId">
	<xs:sequence>
		<xs:element name="registrationId" type="xs:long"/>
		<xs:element name="sampleId" type="xs:long"/>
		<xs:element name="position" type="xs:int"/>
		<xs:element name="decodedPosition" type="tns:DecodedPosition" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="MissAnalysis">
	<xs:sequence>
		<xs:element name="diagnosticBuffer" type="xs:base64Binary" minOccurs="0"/>
		<xs:element name="rankBuffer" type="xs:base64Binary" minOccurs="0"/>
		<xs:element name="searchDump" type="xs:base64Binary" minOccurs="0"/>
		<xs:element name="refDump" type="xs:base64Binary" minOccurs="0"/>
		<xs:element name="algoParam" type="xs:base64Binary" minOccurs="0"/>
		<xs:element name="baseParam" type="xs:base64Binary" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="GetTemplatesResponse">
	<xs:sequence>
		<xs:element name="basicResponse" type="tns:BasicResponse"/>
		<xs:element name="id" type="xs:string" minOccurs="0"/>
		<xs:element name="templates" type="tns:TemplatePosition" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="error" type="tns:TemplateError" minOccurs="0" maxOccurs="unbounded"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="TemplateError">
	<xs:sequence>
		<xs:element name="error" type="tns:Error"/>
		<xs:element name="reference" type="tns:SampleReference" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="AuthenticatePersonResponse">
	<xs:sequence>
		<xs:element name="basicResponse" type="tns:BasicResponse"/>
		<xs:element name="candidate" type="tns:Candidate" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="noHitRank" type="xs:int" minOccurs="0"/>
		<xs:element name="error" type="tns:EncodeError" minOccurs="0" maxOccurs="unbounded"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="PersonToPersonAuthenticateResponse">
	<xs:sequence>
		<xs:element name="basicResponse" type="tns:BasicResponse"/>
		<xs:element name="candidate" type="tns:Candidate" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="errors" type="tns:PersonToPersonAuthenticateError" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="noHitRank" type="xs:int" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="PersonToPersonAuthenticateError">
	<xs:sequence>
		<xs:element name="type" type="tns:PersonToPersonAuthenticateErrorType"/>
		<xs:element name="reference" type="tns:SampleReference" minOccurs="0"/>
		<xs:element name="message" type="xs:string" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="PersonToPersonMatchResponse">
	<xs:sequence>
		<xs:element name="basicResponse" type="tns:BasicResponse"/>
		<xs:element name="candidate" type="tns:Candidate" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="noHitRank" type="xs:int" minOccurs="0"/>
		<xs:element name="missAnalysis" type="tns:MissAnalysis" minOccurs="0"/>
		<xs:element name="error" type="tns:EncodeError" minOccurs="0" maxOccurs="unbounded"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="PersonToLatentMatchResponse">
	<xs:sequence>
		<xs:element name="basicResponse" type="tns:BasicResponse"/>
		<xs:element name="candidate" type="tns:Candidate" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="noHitRank" type="xs:int" minOccurs="0"/>
		<xs:element name="missAnalysis" type="tns:MissAnalysis" minOccurs="0"/>
		<xs:element name="error" type="tns:EncodeError" minOccurs="0" maxOccurs="unbounded"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="LatentToPersonMatchResponse">
	<xs:sequence>
		<xs:element name="basicResponse" type="tns:BasicResponse"/>
		<xs:element name="candidate" type="tns:Candidate" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="noHitRank" type="xs:int" minOccurs="0"/>
		<xs:element name="missAnalysis" type="tns:MissAnalysis" minOccurs="0"/>
		<xs:element name="error" type="tns:EncodeError" minOccurs="0" maxOccurs="unbounded"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="LatentToLatentMatchResponse">
	<xs:sequence>
		<xs:element name="basicResponse" type="tns:BasicResponse"/>
		<xs:element name="candidate" type="tns:Candidate" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="noHitRank" type="xs:int" minOccurs="0"/>
		<xs:element name="missAnalysis" type="tns:MissAnalysis" minOccurs="0"/>
		<xs:element name="error" type="tns:EncodeError" minOccurs="0" maxOccurs="unbounded"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="UpdatePersonResponse">
	<xs:sequence>
		<xs:element name="basicResponse" type="tns:BasicResponse"/>
		<xs:element name="person" type="tns:Person" minOccurs="0"/>
		<xs:element name="error" type="tns:EncodeError" minOccurs="0" maxOccurs="unbounded"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="UpdateLatentResponse">
	<xs:sequence>
		<xs:element name="basicResponse" type="tns:BasicResponse"/>
		<xs:element name="latentPrint" type="tns:LatentPrint" minOccurs="0"/>
		<xs:element name="error" type="tns:EncodeError" minOccurs="0" maxOccurs="unbounded"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="CountLatentResponse">
	<xs:sequence>
		<xs:element name="basicResponse" type="tns:BasicResponse"/>
		<xs:element name="count" type="xs:int" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="ExistLatentResponse">
	<xs:sequence>
		<xs:element name="basicResponse" type="tns:BasicResponse"/>
		<xs:element name="exist" type="xs:boolean"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="PartialUpdatePersonResponse">
	<xs:sequence>
		<xs:element name="basicResponse" type="tns:BasicResponse"/>
		<xs:element name="flatPerson" type="tns:Person" minOccurs="0"/>
		<xs:element name="error" type="tns:EncodeError" minOccurs="0" maxOccurs="unbounded"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="GetPersonInfoListNumberResponse">
	<xs:sequence>
		<xs:element name="basicResponse" type="tns:BasicResponse"/>
		<xs:element name="number" type="xs:int" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="GetPersonInfoListResponse">
	<xs:sequence>
		<xs:element name="basicResponse" type="tns:BasicResponse"/>
		<xs:element name="info" type="tns:ItemInfo" minOccurs="0" maxOccurs="unbounded"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="ItemInfo">
	<xs:sequence>
		<xs:element name="id" type="xs:string" minOccurs="0"/>
		<xs:element name="clientDataVersion" type="xs:string" minOccurs="0"/>
		<xs:element name="mbssDataVersion" type="xs:string" minOccurs="0"/>
		<xs:element name="lastModificationTime" type="xs:string" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="GetLatentInfoListNumberResponse">
	<xs:sequence>
		<xs:element name="basicResponse" type="tns:BasicResponse"/>
		<xs:element name="number" type="xs:int" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="GetLatentInfoListResponse">
	<xs:sequence>
		<xs:element name="basicResponse" type="tns:BasicResponse"/>
		<xs:element name="info" type="tns:ItemInfo" minOccurs="0" maxOccurs="unbounded"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="ReplacePersonSampleResponse">
	<xs:sequence>
		<xs:element name="basicResponse" type="tns:BasicResponse"/>
		<xs:element name="flatPerson" type="tns:Person" minOccurs="0"/>
		<xs:element name="error" type="tns:EncodeError" minOccurs="0" maxOccurs="unbounded"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="GetPersonInfoListForConsistencyResponse">
	<xs:sequence>
		<xs:element name="basicResponse" type="tns:BasicResponse"/>
		<xs:element name="nextToken" type="xs:string" minOccurs="0"/>
		<xs:element name="itemInfoForConsistency" type="tns:ItemInfoForConsistency" minOccurs="0" maxOccurs="unbounded"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="ItemInfoForConsistency">
	<xs:sequence>
		<xs:element name="id" type="xs:string" minOccurs="0"/>
		<xs:element name="clientDataVersion" type="xs:string" minOccurs="0"/>
		<xs:element name="mbssDataVersion" type="xs:string" minOccurs="0"/>
		<xs:element name="lastModificationTime" type="xs:long" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="GetPersonListForConsistencyResponse">
	<xs:sequence>
		<xs:element name="basicResponse" type="tns:BasicResponse"/>
		<xs:element name="nextToken" type="xs:string" minOccurs="0"/>
		<xs:element name="id" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="DetectFacesResponse">
	<xs:sequence>
		<xs:element name="basicResponse" type="tns:BasicResponse"/>
		<xs:element name="detectFacesResults" type="tns:DetectFacesResult" minOccurs="0" maxOccurs="unbounded"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="DetectFacesResult">
	<xs:sequence>
		<xs:element name="featurePoints" type="tns:FeaturePoints" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="GetLatentInfoListForConsistencyResponse">
	<xs:sequence>
		<xs:element name="basicResponse" type="tns:BasicResponse"/>
		<xs:element name="nextToken" type="xs:string" minOccurs="0"/>
		<xs:element name="itemInfoForConsistency" type="tns:ItemInfoForConsistency" minOccurs="0" maxOccurs="unbounded"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="GetLatentListForConsistencyResponse">
	<xs:sequence>
		<xs:element name="basicResponse" type="tns:BasicResponse"/>
		<xs:element name="nextToken" type="xs:string" minOccurs="0"/>
		<xs:element name="id" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="ErrorResponse">
	<xs:sequence>
		<xs:element name="basicResponse" type="tns:BasicResponse"/>
	</xs:sequence>
</xs:complexType>
<xs:simpleType name="RequestType">
	<xs:restriction base="xs:string">
		<xs:enumeration value="ENCODE_PERSON"/>
		<xs:enumeration value="ENCODE_LATENT"/>
		<xs:enumeration value="INSERT_PERSON"/>
		<xs:enumeration value="DELETE_PERSON"/>
		<xs:enumeration value="GET_PERSON"/>
		<xs:enumeration value="COUNT_PERSON"/>
		<xs:enumeration value="EXIST_PERSON"/>
		<xs:enumeration value="INSERT_LATENT"/>
		<xs:enumeration value="DELETE_LATENT"/>
		<xs:enumeration value="GET_LATENT"/>
		<xs:enumeration value="GET_TEMPLATES"/>
		<xs:enumeration value="AUTHENTICATE_PERSON"/>
		<xs:enumeration value="AUTHENTICATE_PERSON_TO_PERSON"/>
		<xs:enumeration value="INSERT_WITH_FILTER_THEN_MATCH_WITHOUT_FILTER_PERSON"/>
		<xs:enumeration value="MATCH_PERSON_TO_PERSON"/>
		<xs:enumeration value="MATCH_PERSON_TO_LATENT"/>
		<xs:enumeration value="MATCH_LATENT_TO_PERSON"/>
		<xs:enumeration value="MATCH_LATENT_TO_LATENT"/>
		<xs:enumeration value="UPDATE_PERSON"/>
		<xs:enumeration value="UPDATE_LATENT"/>
		<xs:enumeration value="COUNT_LATENT"/>
		<xs:enumeration value="EXIST_LATENT"/>
		<xs:enumeration value="PARTIAL_UPDATE_PERSON"/>
		<xs:enumeration value="INTERNAL"/>
		<xs:enumeration value="ERR"/>
		<xs:enumeration value="GET_PERSON_INFO_LIST_NUMBER"/>
		<xs:enumeration value="GET_PERSON_INFO_LIST"/>
		<xs:enumeration value="GET_LATENT_INFO_LIST_NUMBER"/>
		<xs:enumeration value="GET_LATENT_INFO_LIST"/>
		<xs:enumeration value="REPLACE_PERSON_SAMPLE"/>
		<xs:enumeration value="GET_PERSON_INFO_LIST_FOR_CONSISTENCY"/>
		<xs:enumeration value="GET_PERSON_LIST_FOR_CONSISTENCY"/>
		<xs:enumeration value="DETECT_FACES"/>
		<xs:enumeration value="GET_LATENT_INFO_LIST_FOR_CONSISTENCY"/>
		<xs:enumeration value="GET_LATENT_LIST_FOR_CONSISTENCY"/>
	</xs:restriction>
</xs:simpleType>
<xs:simpleType name="FingerprintSampleType">
	<xs:restriction base="xs:string">
		<xs:enumeration value="TENPRINT_SLAP"/>
		<xs:enumeration value="TENPRINT_ROLLED"/>
		<xs:enumeration value="SLAP_442"/>
		<xs:enumeration value="SLAP_4411"/>
		<xs:enumeration value="TIPS"/>
		<xs:enumeration value="EJI"/>
	</xs:restriction>
</xs:simpleType>
<xs:simpleType name="ImageFormatType">
	<xs:restriction base="xs:string">
		<xs:enumeration value="RAW"/>
		<xs:enumeration value="BMP"/>
		<xs:enumeration value="WSQ"/>
		<xs:enumeration value="JPEG"/>
		<xs:enumeration value="JP2"/>
		<xs:enumeration value="TIFF"/>
		<xs:enumeration value="PNG"/>
		<xs:enumeration value="ISO_19794_4"/>
		<xs:enumeration value="ISO_19794_5"/>
		<xs:enumeration value="ISO_19794_6"/>
		<xs:enumeration value="GIF"/>
		<xs:enumeration value="UNSPECIFIED"/>
		<xs:enumeration value="NOT_RAW"/>
	</xs:restriction>
</xs:simpleType>
<xs:simpleType name="TemplateFormatType">
	<xs:restriction base="xs:string">
		<xs:enumeration value="CFV"/>
		<xs:enumeration value="PKCOMPV2"/>
		<xs:enumeration value="PKMAT"/>
		<xs:enumeration value="ISO_19794_2"/>
		<xs:enumeration value="ISO_19794_2_NS"/>
		<xs:enumeration value="ISO_19794_2_CS"/>
		<xs:enumeration value="ISO_19794_2_2011"/>
		<xs:enumeration value="ANSI_378_2009"/>
		<xs:enumeration value="ANSI_378"/>
		<xs:enumeration value="AN2"/>
	</xs:restriction>
</xs:simpleType>
<xs:simpleType name="QualityName">
	<xs:restriction base="xs:string">
		<xs:enumeration value="MORPHO"/>
		<xs:enumeration value="ISO_19794"/>
		<xs:enumeration value="MORPHO_ICB"/>
		<xs:enumeration value="ALTERED_FINGERPRINT"/>
		<xs:enumeration value="NFIQ"/>
		<xs:enumeration value="MORPHO_NBPK"/>
		<xs:enumeration value="MORPHO_IRIS_ATROPINE"/>
		<xs:enumeration value="MORPHO_IRIS_FAKE_LENS"/>
		<xs:enumeration value="NFIQ2"/>
		<xs:enumeration value="ALTERED_FINGERPRINT2"/>
		<xs:enumeration value="QVU"/>
		<xs:enumeration value="PARALLEL_MINUTIAE"/>
	</xs:restriction>
</xs:simpleType>
<xs:simpleType name="IrisDataType">
	<xs:restriction base="xs:string">
		<xs:enumeration value="SEPARATE_EYES"/>
		<xs:enumeration value="BOTH_EYES"/>
	</xs:restriction>
</xs:simpleType>
<xs:simpleType name="FaceSampleType">
	<xs:restriction base="xs:string">
		<xs:enumeration value="STILL"/>
		<xs:enumeration value="VIDEO"/>
	</xs:restriction>
</xs:simpleType>
<xs:simpleType name="PalmprintSampleType">
	<xs:restriction base="xs:string">
		<xs:enumeration value="SPLIT_HAND"/>
		<xs:enumeration value="FULL_HAND"/>
	</xs:restriction>
</xs:simpleType>
<xs:simpleType name="UnitPlan">
	<xs:restriction base="xs:string">
		<xs:enumeration value="ISO_6709"/>
	</xs:restriction>
</xs:simpleType>
<xs:simpleType name="UnitVertical">
	<xs:restriction base="xs:string">
		<xs:enumeration value="FLOOR"/>
	</xs:restriction>
</xs:simpleType>
<xs:simpleType name="UnitTime">
	<xs:restriction base="xs:string">
		<xs:enumeration value="EPOCH"/>
	</xs:restriction>
</xs:simpleType>
<xs:simpleType name="NumericOperation">
	<xs:restriction base="xs:string">
		<xs:enumeration value="ALWAYS_TRUE"/>
		<xs:enumeration value="CHECK_INTERVAL"/>
		<xs:enumeration value="EQUAL"/>
		<xs:enumeration value="GREATER_THAN"/>
		<xs:enumeration value="LOWER_THAN"/>
	</xs:restriction>
</xs:simpleType>
<xs:simpleType name="BinaryOperation">
	<xs:restriction base="xs:string">
		<xs:enumeration value="ALWAYS_TRUE"/>
		<xs:enumeration value="OR"/>
	</xs:restriction>
</xs:simpleType>
<xs:simpleType name="EncodeLevel">
	<xs:restriction base="xs:string">
		<xs:enumeration value="SEGMENT_ONLY"/>
		<xs:enumeration value="DEFAULT"/>
		<xs:enumeration value="WITH_SEQUENCE_CHECK"/>
	</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Position">
	<xs:restriction base="xs:string">
		<xs:enumeration value="RIGHT_THUMB"/>
		<xs:enumeration value="RIGHT_INDEX"/>
		<xs:enumeration value="RIGHT_MIDDLE"/>
		<xs:enumeration value="RIGHT_RING"/>
		<xs:enumeration value="RIGHT_LITTLE"/>
		<xs:enumeration value="LEFT_THUMB"/>
		<xs:enumeration value="LEFT_INDEX"/>
		<xs:enumeration value="LEFT_MIDDLE"/>
		<xs:enumeration value="LEFT_RING"/>
		<xs:enumeration value="LEFT_LITTLE"/>
	</xs:restriction>
</xs:simpleType>
<xs:simpleType name="MinutiaeOrderType">
	<xs:restriction base="xs:string">
		<xs:enumeration value="NO_ORDERING"/>
		<xs:enumeration value="ASCENDING"/>
		<xs:enumeration value="DESCENDING"/>
		<xs:enumeration value="CARTESIAN_XY"/>
		<xs:enumeration value="CARTESIAN_YX"/>
		<xs:enumeration value="ANGLE"/>
		<xs:enumeration value="POLAR"/>
	</xs:restriction>
</xs:simpleType>
<xs:simpleType name="LatentType">
	<xs:restriction base="xs:string">
		<xs:enumeration value="FINGER"/>
		<xs:enumeration value="PALM_OR_SUPPLEMENTALS"/>
	</xs:restriction>
</xs:simpleType>
<xs:simpleType name="MinutiaType">
	<xs:restriction base="xs:string">
		<xs:enumeration value="BIFURCATION"/>
		<xs:enumeration value="RIDGE_ENDING"/>
	</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Pattern">
	<xs:restriction base="xs:string">
		<xs:enumeration value="UNKNOWN"/>
		<xs:enumeration value="RIGHT_LOOP"/>
		<xs:enumeration value="LEFT_LOOP"/>
		<xs:enumeration value="WHORL"/>
		<xs:enumeration value="ARCH"/>
	</xs:restriction>
</xs:simpleType>
<xs:simpleType name="ErrorCode">
	<xs:restriction base="xs:string">
		<xs:enumeration value="SUCCESS"/>
		<xs:enumeration value="GENERAL_FAILURE"/>
		<xs:enumeration value="DUPLICATE_KEY"/>
		<xs:enumeration value="KEY_NOT_FOUND"/>
		<xs:enumeration value="INVALID_INPUT"/>
		<xs:enumeration value="LIMITS_EXCEEDED"/>
		<xs:enumeration value="RECODING_NEEDED"/>
	</xs:restriction>
</xs:simpleType>
<xs:simpleType name="HandPosition">
	<xs:restriction base="xs:string">
		<xs:enumeration value="NONE_HAND"/>
		<xs:enumeration value="RIGHT_HAND"/>
		<xs:enumeration value="LEFT_HAND"/>
	</xs:restriction>
</xs:simpleType>
<xs:simpleType name="FingerPosition">
	<xs:restriction base="xs:string">
		<xs:enumeration value="NONE_FINGER"/>
		<xs:enumeration value="THUMB_FINGER"/>
		<xs:enumeration value="INDEX_FINGER"/>
		<xs:enumeration value="MIDDLE_FINGER"/>
		<xs:enumeration value="RING_FINGER"/>
		<xs:enumeration value="LITTLE_FINGER"/>
	</xs:restriction>
</xs:simpleType>
<xs:simpleType name="PalmPosition">
	<xs:restriction base="xs:string">
		<xs:enumeration value="NONE_PALM"/>
		<xs:enumeration value="LOWER_PALM"/>
		<xs:enumeration value="WRITER_PALM"/>
		<xs:enumeration value="UPPER_PALM"/>
		<xs:enumeration value="THENAR_PALM"/>
		<xs:enumeration value="HYPOTHENAR_PALM"/>
		<xs:enumeration value="INTERDIGITAL_PALM"/>
	</xs:restriction>
</xs:simpleType>
<xs:simpleType name="FingerprintType">
	<xs:restriction base="xs:string">
		<xs:enumeration value="NONE_FP_TYPE"/>
		<xs:enumeration value="PROXIMAL_FP_TYPE"/>
		<xs:enumeration value="MEDIAL_FP_TYPE"/>
		<xs:enumeration value="DISTAL_FP_TYPE"/>
		<xs:enumeration value="TIP_FP_TYPE"/>
		<xs:enumeration value="FULL_FP_TYPE"/>
	</xs:restriction>
</xs:simpleType>
<xs:simpleType name="AcquisitionType">
	<xs:restriction base="xs:string">
		<xs:enumeration value="NONE_ACQ_TYPE"/>
		<xs:enumeration value="ROLLED_ACQ_TYPE"/>
		<xs:enumeration value="FLAT_ACQ_TYPE"/>
		<xs:enumeration value="LEFT_SIDE_ACQ_TYPE"/>
		<xs:enumeration value="RIGHT_SIDE_ACQ_TYPE"/>
	</xs:restriction>
</xs:simpleType>
<xs:simpleType name="IrisPosition">
	<xs:restriction base="xs:string">
		<xs:enumeration value="NONE_IRIS"/>
		<xs:enumeration value="RIGHT_IRIS"/>
		<xs:enumeration value="LEFT_IRIS"/>
	</xs:restriction>
</xs:simpleType>
<xs:simpleType name="FacePosition">
	<xs:restriction base="xs:string">
		<xs:enumeration value="NONE_FACE"/>
		<xs:enumeration value="FRONT_FACE"/>
	</xs:restriction>
</xs:simpleType>
<xs:simpleType name="TattooPosition">
	<xs:restriction base="xs:string">
		<xs:enumeration value="NONE_TATTOO"/>
	</xs:restriction>
</xs:simpleType>
<xs:simpleType name="PedestrianPosition">
	<xs:restriction base="xs:string">
		<xs:enumeration value="NONE_PEDESTRIAN"/>
	</xs:restriction>
</xs:simpleType>
<xs:simpleType name="BagPosition">
	<xs:restriction base="xs:string">
		<xs:enumeration value="NONE_BAG"/>
	</xs:restriction>
</xs:simpleType>
<xs:simpleType name="SequenceCheckErrorType">
	<xs:restriction base="xs:string">
		<xs:enumeration value="DUPLICATE_ITEM"/>
		<xs:enumeration value="MISPLACED_ITEM"/>
		<xs:enumeration value="MISSING_MATE"/>
		<xs:enumeration value="UNIDENTIFIED_ITEM"/>
		<xs:enumeration value="LOCATION_ERROR"/>
		<xs:enumeration value="INCONSISTENCY"/>
	</xs:restriction>
</xs:simpleType>
<xs:simpleType name="GroupType">
	<xs:restriction base="xs:string">
		<xs:enumeration value="FINGER"/>
		<xs:enumeration value="FACE"/>
		<xs:enumeration value="IRIS"/>
		<xs:enumeration value="PALM_OR_SUPPLEMENTALS"/>
		<xs:enumeration value="TATTOO"/>
		<xs:enumeration value="PEDESTRIAN"/>
		<xs:enumeration value="BAG"/>
	</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Decision">
	<xs:restriction base="xs:string">
		<xs:enumeration value="HIT"/>
		<xs:enumeration value="NO_HIT"/>
		<xs:enumeration value="POSSIBLE_HIT"/>
		<xs:enumeration value="NO_DECISION"/>
		<xs:enumeration value="KEY_NOT_FOUND"/>
	</xs:restriction>
</xs:simpleType>
<xs:simpleType name="PersonToPersonAuthenticateErrorType">
	<xs:restriction base="xs:string">
		<xs:enumeration value="NO_ERR"/>
		<xs:enumeration value="ERROR_NULL_PARAMETER"/>
		<xs:enumeration value="ERROR_MEMORY_ALLOCATION_FAILED"/>
		<xs:enumeration value="ERROR_ASSERTION_FAILED"/>
		<xs:enumeration value="ERROR_PROTECTION"/>
		<xs:enumeration value="INVALID_PARAMETER"/>
		<xs:enumeration value="INVALID_CONFIGURATION_BLOCK"/>
		<xs:enumeration value="ERROR_INTERNAL"/>
		<xs:enumeration value="ERROR_INVALID_CFV_DATA"/>
		<xs:enumeration value="ERROR_INVALID_CFV_VERSION"/>
		<xs:enumeration value="ERROR_IMAGE_DECOMPRESSION"/>
		<xs:enumeration value="ERROR_RECODING_NEEDED"/>
	</xs:restriction>
</xs:simpleType>
</xsd:schema>
</types>
<message name="process">
<part name="parameters" element="tns:process"/>
</message>
<message name="processResponse">
<part name="parameters" element="tns:processResponse"/>
</message>
<portType name="IWSMbss">
<operation name="process">
<input wsam:Action="http://www.morpho.com/mbss/generic/wsdl/IWSMbss/processRequest" message="tns:process"/>
<output wsam:Action="http://www.morpho.com/mbss/generic/wsdl/IWSMbss/processResponse" message="tns:processResponse"/>
</operation>
</portType>
<binding name="MbssPortBinding" type="tns:IWSMbss">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="process">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MbssService">
<port name="MbssPort" binding="tns:MbssPortBinding">
<soap:address location="https://www.telceltest85.telcel.com:9443/service/mbss"/>
</port>
</service>
</definitions>